@import "tailwindcss";


@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.8s ease-out both;
}

.animate-slideRight {
  animation: slideRight 0.9s ease-out both;
}

.animate-slideDown {
  animation: slideDown 0.5s ease-out both;
}

.animate-slideUp {
  animation: slideUp 0.8s ease-out both;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: 'Poppins', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}



